<div id="page_title" class="row">
  <div class="large-12 columns">
    <h2>
      <%= user_name %> Tweets
    </h2>
    <% if twitter_profile? %>
      <div id="secondary_page_title">
        <%= link_to 'Twitter Profile', "https://www.twitter.com/#{@screen_name}", id: 'twitter_profile_link', target: '_blank' %>
      </div>
    <% end %>
  </div>
</div>

<% @feed_items.each do |feed_item| %>
  <%= render partial: feed_item_partial(feed_item), locals: feed_item_locals(feed_item) %>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <%= paginate @feed_items %>
  </div>
</div>


<% if @feed_items.empty? %>
  <div class="row">
    <div class="large-12 columns">
      <em>No JulySoundcheck reviews yet</em>
    </div>
  </div>
<% end %>
