<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=<%= tweet.album_id %>/size=small/bgcol=ffffff/linkcol=e99708/transparent=true/" seamless><a href="<%= tweet.listen_source.url %>"><%= tweet.album %> by <%= tweet.artist %></a></iframe>
