<iframe style="border: 0; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=<%= review.album_id %>/size=small/bgcol=ffffff/linkcol=e99708/transparent=true/" seamless><a href="<%= review.listen_source.url %>"><%= review.album %> by <%= review.artist %></a></iframe>
