<% if tweet_review.album_of_the_month? %>
  <a href="/aotm" class='album-of-the-month' title="Album Of The Month - <%= tweet_review.rating %>">
    <span>A</span>
    <span>O</span>
    <span>T</span>
    <span>M</span>
  </a>
<% else %>
  <a class='review-rating' title="<%= tweet_review.rating_description %>">
    <%= tweet_review.rating %>
  </a>
<% end %>
