<div class="row">
  <div id="page_title" class="large-9 medium-8 small-8 columns">
    <% if params[:rating] %>
      <h2>
        <%= rating_group_description(params[:rating]) %>
      </h2>
    <% end %>
  </div>
  <%= render partial: 'feed_items/filter' %>
</div>

<% @feed_items.each do |feed_item| %>
  <%= render partial: feed_item_partial(feed_item), locals: feed_item_locals(feed_item) %>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <%= paginate @feed_items %>
  </div>
</div>

<% if @feed_items.empty? %>
  <div id="no_reviews" class="row">
    <div class="large-12 columns">
      <em>No #JulySoundcheck Reviews</em>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <% if signed_in? %>
    <% #= render partial: 'layouts/recent-tweets' %>
  <% else %>
    <% #= render partial: 'layouts/twitter-sign-in' %>
  <% end %>
<% end %>
