<div id="page_title" class="row">
  <div class="large-12 columns">
    <h2>
      @<%= @screen_name %> Tweets
    </h2>
    <div id="secondary_page_title">
      <%= link_to 'Twitter Profile', "https://www.twitter.com/#{@screen_name}", id: 'twitter_profile_link', target: '_blank' %>
    </div>
  </div>
</div>

<% @jsc_tweets.each do |tweet| %>
  <%= render partial: 'tweets/tweet', locals: {tweet: tweet} %>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <%= paginate @tweets %>
  </div>
</div>


<% if @tweets.empty? %>
  <div class="row">
    <div class="large-12 columns">
      <em>No JulySoundcheck tweets yet</em>
    </div>
  </div>
<% end %>
