.album-of-the-month {
  position: relative;

  span {
    display: inline-block;
    font-size: 20px;
    height: 15px;
    line-height: 15px;
    position: absolute;
  }

  span:nth-child(1) {
    left: 8px;
    top: 4px;
  }

  span:nth-child(2) {
    right: 8px;
    top: 4px;
  }

  span:nth-child(3) {
    left: 8px;
    bottom: 4px;
  }

  span:nth-child(4) {
    right: 8px;
    bottom: 4px;
    transform:rotate(-45deg);
  }
}
