@import 'variables';

.review {
  display: flex;
  flex-direction: row;
}

.review-text-container {
  width: 100%;

  p {
    margin: 0;
    padding: 0;
  }

  .tweet-reply {
    margin-top: 5px;
    padding-top: 5px;
    position: relative;
    border-top: 1px dotted $color-primary-2;
    color: #636363;
  }
}
