@import 'variables';

.tweet-title {
  margin-bottom: 3px;
  padding-bottom: 3px;
}
.tweet-review {
  margin-bottom: 10px;
  padding: 4px 0;
  border: 1px solid $color-primary-3;
  border-radius: 3px;
  position: relative;

  &:nth-child(even) {
    background-color: $color-primary-1;
  }
}

.twitter-profile-image {
  border-radius: 3px;
}

.twitter-name {
  float: left;
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.05em;
}
.twitter-username {
  float: left;
  color: $color-primary-4;
}

.tweet-text {
  color: #636363;
}

.reviewed-on {
  position: absolute;
  right: 10px;
  top: 5px;
  text-align: right;
  color: $color-primary-3;
}

@media only screen and (max-device-width: 380px), only screen and (max-width: 380px) {
  .twitter-username {
    clear: left;
  }
}
