#twitter_sign_in {
  padding-bottom: 20px;
  margin-bottom: 20px;

  button {
    margin-top: 15px;
    line-height: 25px;

    img {
      float: left;
      margin-right: 3px;
      height: 25px;
    }
  }
}
