<% if twitter_user? %>
  <%= form_tag '/signout', method: 'delete' do %>
    <button  id="sign_out">Sign Out</button>
  <% end %>
<% else %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% end %>
