<div class="row">
  <h4 class="sidebar-title columns">Your Recent Tweets</h4>
</div>
<div id="twitter_sign_in" class="row">
  <div class="columns">
    <em>
      Sign in with your Twitter account to view recent tweets and tweet
      JulySoundcheck album reviews
    </em>
    <%= form_tag '/auth/twitter', method: 'get' do %>
      <button class="button">
        <%= image_tag "twitter-logo.png" %>
        Sign In
      </button>
    <% end %>
  </div>
</div>
